bind {{private_ip}}
protected-mode no
port {{port}}
cluster-enabled yes
cluster-config-file {{cluster_config_file}}
cluster-node-timeout {{cluster_node_timeout}}
appendonly {{appendonly}}
supervised systemd