[Unit]
Description=Redis Single Instance Service
Documentation=https://redis.io/documentation
Requires=network.target
After=network.target

[Service]
User=redis
Group=redis
ExecStart=/opt/redis/{{port}}/src/redis-server /opt/redis/{{port}}/redis.conf
ExecStop=/opt/redis/{{port}}/src/redis-cli -h {{private_ip}} -p {{port}} shutdown
WorkingDirectory=/opt/redis/{{port}}

[Install]
WantedBy=multi-user.target