{% if inventory_hostname == namenode %}
{% for host in groups['hadoop'] %}
{% if host != namenode %}
{{ hostvars[host]['name'] }}
{% endif %}
{% endfor %}
{% else %}
{{ hostvars[inventory_hostname]['name'] }}
{% endif %}